:root {
    --primary-color: darkblue;
    --secondary-color: black;
    --background-color: #eee;
    --main-font: Arial, Helvetica, sans-serif;
    --standard-padding: 1rem;
    --standard-margin: 1rem;
    --border-color: rgba(0, 0, 0, 0.2);
}
}

nav {
    background-color: var(--primary-color);
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1 {
    color: var(--primary-color);
}

main img {
    width: 150px;
    height: auto;
    border: 1px var(--border-color);
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p {
    padding: 0;
}

main {
    max-width: 840px;
    height: auto;
    border: 1px solid var(--secondary-color);
    padding: 2px;
    box-shadow: 0 0 30px gray;
    margin: 1px;

}

aside {
    width: 20rem;
    margin: var(--standard-margin);
    border: 1px solid rgb(0, 0, 0);
    padding: var(--standard-padding);
    background-color: peachpuff;
    color: var(--secondary-color);
    text-align: center;

}

aside img {
    width: 200px;
    height: auto;
}

footer {
    margin-top: 15px;
    border-top: 1px var(--border-color);
    text-align: center;
}